#skills {
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.skillTitle {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.skillDesc {
  font-weight: 300;
  font-size: 1rem;
  max-width: 50rem;
  padding: 0 2rem;
}
.skillBars {
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}
.skillBar {
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: rgb(50, 50, 50);
}
.skillBar img {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
}
.skillBarText > p {
  font-size: 0.9rem;
  font-weight: 200;
}
.tech-skills-cont {
  margin: 1rem;
  width: 100vw;
  max-width: 80%;
}
.tech-skills-cont h2 {
  margin-bottom: 10px;
}
.tech-skills {
  display: flex;
  justify-content: space-evenly;
}
.tech-skill {
  background: rgb(50, 50, 50);
  padding: 20px;
  border-radius: 5px;
  margin: 5px;
  max-width: 370px;
  width: 100%;
}
.tech-skill h4 {
  font-size: 18px;
  margin-bottom: 10px;
  white-space: nowrap;
}
.ordered-list {
  padding-left: 10px;
  list-style-type: none;
  text-align: left;
}
.ordered-list li a {
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}
.ordered-list li a:hover {
  color: yellow;
  background: rgb(65, 65, 65);
}
.tech-skill ol li {
  margin-bottom: 10px;
}
.tech-skill ol li img {
  margin-left: auto;
  margin-right: 10px;
  object-fit: cover;
  width: 30px;
}
.ordered-list.backend img {
  object-fit: cover;
  height: 30px;
  width: auto;
}
@media screen and (max-width: 720px) {
  .skillBarText > p {
    font-size: 2vw;
  }
}
@media screen and (max-width: 750px) {
  .tech-skills {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 480px) {
  .skillBarText > p {
    font-size: 3vw;
  }
  .skillBars {
    max-width: 90vw;
  }
  .skillBar {
    flex-direction: column;
    align-items: center;
  }
  .skillBar img {
    height: 2.25rem;
    width: 2.25rem;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
  .skillBarText > h2 {
    font-size: 5vw;
  }
}
