#contactPage {
  width: 100vw;
  max-width: 60rem;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}
.resume {
  margin-bottom: 40px;
}
.resume p {
  padding: 1rem;
  font-size: medium;
  font-weight: 300;
}
.resume a {
  margin-top: 40px;
  font-size: 16px;
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
}
.resume a:hover {
  color: rgb(214, 214, 214);
  cursor: pointer;
}
.resume-page-title {
  margin-bottom: 1rem;
  font-size: 3rem;
}

#contact {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact h2 {
  font-size: 35px;
}
.contactDesc {
  padding: 1rem;
  font-size: medium;
  font-weight: 300;
}

.links {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
.btn-copy-email {
  border: none;
}
.link {
  cursor: pointer;
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin: 0 0.75rem;
}
